.slider-container {
  overflow: hidden;
  position: relative;

  .btn {
    position: absolute;
    height: 40px;
    width: 40px;
    display: grid;
    place-items: center;
    border-radius: 50%;
    background-color: var(--white);
    top: 50%;
    transform: translateY(-50%);
    &-left {
      left: 3%;
      .arrow {
        margin-right: 4px;
      }
    }
    &-right {
      right: 3%;
      .arrow {
        margin-left: 4px;
      }
    }
  }


  .slider {
    display: flex;
    width: 100%;
    height: 100%;
  }
  .slide {
    width: 100%;
    height: 100%;
  }
}


.product {
  &__content {
    padding: 25px 25px 0px 25px;
  }

  &__description {
    display: grid;

    p:first-child {
      margin-bottom: calc(var(--font-base) * 1.375); //22px
    }
    p:last-child {
      margin-bottom: calc(var(--font-base) * 2.375); //38px
    }
    h1 {
      margin-bottom: calc(var(--font-base) * 1.125); // 28px
    }
  }

  &__price {
    display: flex;
    align-items: center;
    margin-bottom:  calc(var(--font-base) * 1.875);

    h2 {
      margin-right: calc(var(--font-base) * 1.0625);
    }
    p:nth-child(2) {
      padding: 2px 7px;
      border-radius: 5px;
    }
    p:last-child {
      margin-left: auto;
      position: relative;
    }
    p:last-child::before {
      content: '';
      position: absolute;
      background-color: var(--grayish-blue);
      top: 55%;
      width: 100%;
      height: 2px;
    }
  }

  &__checkout {
    flex-direction: column;

    .amount-container {
      width: 100%;
      background-color: var(--light-grayish-blue);
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 10px;
      padding: 12px 23px;
      margin-bottom: var(--font-base);

    }
    .checkoutBTN {
      justify-content: center;
      padding: 16px 100px;
      border-radius: 10px;
      box-shadow: 0px 15px 20px var(--primary-color-shadow);
      margin-bottom: 50px;
      p {
        margin-left: var(--font-base);
      }
    }
  }

}
h1, h2 {
  line-height: 1.1;
}

