/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}


/*
  5. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/*
  9. Remove stlyes to buttons
*/

button {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  padding: 10px 0;
}
:root {
  --font-base: 1rem;
  // Fonts: 12px, 15px, 16px, 33px
  --fs-1: calc(var(--font-base) * 0.75);
  --fs-2: calc(var(--font-base) * 0.9375);
  --fs-3: var(--font-base);
  --fs-4: calc(var(--font-base) * 2.0625);

  --primary-color: hsl(26, 100%, 55%);
  --primary-color-shadow: hsl(26, 100%, 55%, .4);
  --primary-color-pale: hsl(25, 100%, 94%);

  --very-dark-blue: hsl(220, 13%, 13%);
  --dark-grayish-blue: hsl(219, 9%, 45%);
  --grayish-blue: hsl(220, 14%, 75%);
  --light-grayish-blue: hsl(223, 64%, 98%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
}

* {
  font-family: "Kumbh Sans", sans-serif;
}
// Utility classes

// Fonts
.fs-1 {
  font-size: var(--fs-1);
}
.fs-2 {
  font-size: var(--fs-2);
}
.fs-3 {
  font-size: var(--fs-3);
}
.fs-4 {
  font-size: var(--fs-4);
}
.uppercase {
  text-transform: uppercase;
}
.font-bold {
  font-weight: bold;
}

// Colors
.primary-cl {
  color: var(--primary-color);
}
.primary-cl-pale {
  color: var(--primary-color-pale);
}

.bkg-primary {
  background-color: var(--primary-color);
}
.bkg-primary-pale{
  background-color: var(--primary-color-pale);
}

.color-white {
  color: var(--white);
}
.alt-color-1 {
  color: var(--dark-grayish-blue);
}
.alt-color-2 {
  color: var(--grayish-blue);
}


// Layouts
.grid {
  display: grid;
}
.flex {
  display: flex;
}

